<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SAMPLE</title>
  </head>
  <body>
      <ul>
        <% items.forEach((item) => { %>
          <li>
            <div>
              <span><%= item.id %></span>
              <span><%= item.name %></span>
              <ul>
<% for (let item of items) { %>
    <li><%- item.name %></li>
<% } %>
</ul>
            </div>
          </li>
        <% }) %>
      </ul>
  </body>
</html>